@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* html,
body {
  overscroll-behavior: none;
} */

/* @media screen(sm) {
  html,
  body {
    overscroll-behavior: auto;
  }
} */

/* Underline styles */
a.special-underline-zinc-300 {
  @apply block relative;
}
a.special-underline-zinc-500 {
  @apply block relative;
}

/* Fade in */
a.special-underline-zinc-300::after {
  @apply bg-zinc-300 absolute bottom-0 left-0 w-full content-[''] h-0.5 transition-all duration-300;
  /* this would break the animation when using tailwind */
  transform: scale(0);
  transform-origin: center;
}

a.special-underline-zinc-300:hover::after,
a.special-underline-zinc-300:focus::after {
  transform: scale(1);
}
a.special-underline-zinc-500::after {
  @apply bg-zinc-300 absolute bottom-0 left-0 w-full content-[''] h-0.5 transition-all duration-300;
  /* this would break the animation when using tailwind */
  transform: scale(0);
  transform-origin: center;
}

a.special-underline-zinc-500:hover::after,
a.special-underline-zinc-500:focus::after {
  transform: scale(1);
}
